body {
    font-family: Montserrat, Inter;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    margin: 0px;
}

h1 {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}

h2 {
    font-family: Montserrat;
    margin-top: 20px;
    margin-bottom: 20px; 
    color: #C4C5E1;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px; 
    color: #191b22;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px; 
    color: #191b22;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 700;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px; 
    color: #08090a;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}

p {
    margin-bottom: 10px; 
    color: #000000;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-family: Inter, sans-serif;
}

.banner {
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    background-color: #b1b2d8;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 15px;
} 

.banner-wrap {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.notice-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    height: 20px;
}

.navigation-right a {
    padding-right: 16px;
    padding-left: 16px;
    opacity: 0.8;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    /*color: #000000;*/
    font-size: 18px;
    text-transform: none;
}

.navigation-right a:hover {
    opacity: 1;
    color: #6b3c92;
}

.current {
    font-family: "Nunito Sans",sans-serif;
    text-decoration: none;
    color: #b1b2d8;
    font-weight: bolder;
    border-style: solid;
}

.link {
    font-family: "Nunito Sans",sans-serif;
    text-decoration: none;
    color: #000000;
}

.navigation-container {
    display: flex;
    width: 100%;
    max-width: 2000px;
    /*padding: 0px 0%;*/
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.brand {
    margin-right: 40px;
}

.logo-text {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.navbar {
    display: flex;
    padding: 20px 3%;
    align-items: center;
    background-color: #fff;
}

.navigation-right {
    display: flex;
    padding: 20px 3%;
    align-items: center;
}

.navigation-left {
    display: flex;
    padding: 20px 3%;
    align-items: center;
}

.nav-menu {
    margin-right: 14px;
}

.button {
    display: flex;
    min-height: 60px;
    margin-right: 30px;
    margin-left: 20px;
    padding: 5px 30px;
    align-items: center;
    border-radius: 20px;
    background-color: #f0bcbc;
    font-family: Montserrat, sans-serif;
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-clip: border-box;
}

.header {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 50px 3%;
    height: 200px;
    /*justify-content: center;*/
    align-items: center;
    background-image: url('imageedit_6_4396956765.png');
    background-position: 0px 600px, 0px 0px;
    background-size: cover, auto;
    opacity: 1;
}

.head-content {
    display: flex;
    width: 100%;
    margin-top: 5px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    opacity: 1;
}

.content-section {
    position: relative;
    padding: 10px 3% 10px;
    background-color: transparent;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}

.title-wrap-centre {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 670px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.footer {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 10px 3% 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4c5e1;
  text-decoration: none;
}

.footer-column {
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.footer-grid {
  display: flex;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-link {
  margin-bottom: 12px;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
  color: #546285;
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #28224b;
}

.title {
  margin-bottom: 20px;
  color: #08090a;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}